import requests
import pandas as pd 
import random
from sklearn.model_selection import train_test_split
import json
import sys
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,f1_score,roc_auc_score
from sklearn.metrics import accuracy_score
from openai import OpenAI
import os
import openai
import time
from datetime import datetime
from langchain_openai import OpenAI
from langchain.chains import LLMChain
from langchain.prompts import PromptTemplate
from langchain.memory.buffer import ConversationBufferMemory
import chainlit as cl
from langchain_openai import ChatOpenAI
from langchain_core.messages import HumanMessage, ToolMessage

# Custom Libraries
from environment import env
from environment import helper_functions